# Python Tutorial

## Datatypes

In [1]:
a=10

In [2]:
type(a)

int

In [5]:
name='Pancham'

In [6]:
type(name)

str

In [7]:
a=10
b=20

In [8]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) #BODMAS

200
0.5
10
200.5

In [9]:
first_name='Pancham'
last_name='Mahto'

In [11]:
print('My First Name is {} and My Last Name is {}.'.format(first_name, last_name))

My First Name is Pancham and My Last Name is Mahto.

In [12]:
print('My First Name is {first} and My Last Name is {last}.'.format(first=first_name, last=last_name))

My First Name is Pancham and My Last Name is Mahto.

In [14]:
len('Pancham Mahto')

13

In [21]:
my_str='Pancham Mahto'

In [25]:
print(my_str.isalnum()) #check if all char are alphanumerics
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words i.e., first letter as capital
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('o')) #test if string endswith a d
print(my_str.startswith('P')) #test if string startswith H

False
False
False
True
False
False
False
True
True

# LIST

In [37]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [27]:
type(lst)

list

In [31]:
len(lst) # Find the number of elements in the list

6

In [38]:
lst.append("Physics")

In [34]:
print(lst)

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Physics']

In [39]:
lst.append(["Physics","Biology"])
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Physics',
 ['Physics', 'Biology']]

In [40]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [41]:
lst.extend(["Physics","Biology"])

In [42]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Physics', 'Biology']

In [46]:
lst[1] # Find the element in 1st index

'chemistry'

In [48]:
lst.index(100) # Find the index where element 100 is present

2

In [49]:
lst.pop() # pop function removes an element, by default it removes the last element

'Biology'

In [50]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Physics']

In [51]:
lst.pop(0) # remove the 0th element

'Mathematics'

In [52]:
lst

['chemistry', 100, 200, 300, 204, 'Physics']

# SET

In [55]:
## Defining an empy set
set_var= set()

In [56]:
type(set_var)

set

In [65]:
set_var2=() # Creates an empty tuple
set_var3={} # Creates an empty dictionary

In [66]:
type(set_var2)

tuple

In [67]:
type(set_var3)

dict

In [68]:
set_var = {"A","B","C"}

In [69]:
set_var

{'A', 'B', 'C'}

In [70]:
set_var.add("D")

In [71]:
set_var

{'A', 'B', 'C', 'D'}

# DICT

In [72]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"} # the index is the key here... key-value pair

In [73]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [74]:
my_dict['Car1']

'Audi'

In [75]:
# Print all the indices

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [78]:
# Print all the values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [79]:
# Print all the key-value pairs or items

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [80]:
my_dict['car4']='Audi 2.0' # add a new item

In [81]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

# NESTED DICTIONARY

In [82]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [83]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [86]:
# To find an item using idex

car_type['car2']['Audi']

1970

In [87]:
# To find an item using idex --- does not exist

car_type['car2']['Mercedes']

KeyError: 'Mercedes'