# Pandas

In [1]:
import pandas as pd
import numpy as np

In [5]:
my_df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Col1','Col2','Col3','Col4'])
my_df

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [7]:
my_df.to_excel('Test.xlsx')

In [8]:
my_df.loc['Row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: Row1, dtype: int32

In [10]:
my_df.loc['Row2']

Col1    4
Col2    5
Col3    6
Col4    7
Name: Row2, dtype: int32

In [14]:
my_df.iloc[0:3,0:2]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9

In [19]:
# Convert Dataframe to Array

my_df.iloc[:,:].values.shape

(5, 4)

In [25]:
my_df[['Col1','Col2']]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9
Row4    12    13
Row5    16    17

In [23]:
my_df.loc['Row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: Row1, dtype: int32

In [6]:
url = 'https://www.imdb.com/chart/top/?ref_=nv_mv_250'

In [10]:
df_country_code = pd.read_html(url, match='IMDb Rating', header=0)

In [21]:
df_country_code[0]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
5,NaN,6. Schindler's List (1993),8.9,12345678910 NOT YET RELEASED Seen,NaN
6,NaN,7. The Lord of the Rings: The Return of the K...,8.9,12345678910 NOT YET RELEASED Seen,NaN
7,NaN,8. Pulp Fiction (1994),8.8,12345678910 NOT YET RELEASED Seen,NaN
8,NaN,"9. Il buono, il brutto, il cattivo (1966)",8.8,12345678910 NOT YET RELEASED Seen,NaN
9,NaN,10. The Lord of the Rings: The Fellowship of ...,8.8,12345678910 NOT YET RELEASED Seen,NaN
10,NaN,11. Fight Club (1999),8.8,12345678910 NOT YET RELEASED Seen,NaN
11,NaN,12. Forrest Gump (1994),8.8,12345678910 NOT YET RELEASED Seen,NaN
12,NaN,13. Inception (2010),8.7,12345678910 NOT YET RELEASED Seen,NaN
13,NaN,14. Star Wars: Episode V - The Empire Strikes...,8.7,12345678910 NOT YET RELEASED Seen,NaN
14,NaN,15. The Lord of the Rings: The Two Towers (2...,8.7,12345678910 NOT YET RELEASED Seen,NaN
15,NaN,16. The Matrix (1999),8.6,12345678910 NOT YET RELEASED Seen,NaN
16,NaN,17. Goodfellas (1990),8.6,12345678910 NOT YET RELEASED Seen,NaN
17,NaN,18. One Flew Over the Cuckoo's Nest (1975),8.6,12345678910 NOT YET RELEASED Seen,NaN
18,NaN,19. Shichinin no samurai (1954),8.6,12345678910 NOT YET RELEASED Seen,NaN
19,NaN,20. Se7en (1995),8.6,12345678910 NOT YET RELEASED Seen,NaN
20,NaN,21. La vita è bella (1997),8.6,12345678910 NOT YET RELEASED Seen,NaN
21,NaN,22. Cidade de Deus (2002),8.6,12345678910 NOT YET RELEASED Seen,NaN
22,NaN,23. The Silence of the Lambs (1991),8.6,12345678910 NOT YET RELEASED Seen,NaN
23,NaN,24. It's a Wonderful Life (1946),8.6,12345678910 NOT YET RELEASED Seen,NaN
24,NaN,25. Star Wars (1977),8.6,12345678910 NOT YET RELEASED Seen,NaN
25,NaN,26. Saving Private Ryan (1998),8.5,12345678910 NOT YET RELEASED Seen,NaN
26,NaN,27. Hamilton (2020),8.5,12345678910 NOT YET RELEASED Seen,NaN
27,NaN,28. Sen to Chihiro no kamikakushi (2001),8.5,12345678910 NOT YET RELEASED Seen,NaN
28,NaN,29. The Green Mile (1999),8.5,12345678910 NOT YET RELEASED Seen,NaN
29,NaN,30. Gisaengchung (2019),8.5,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
220,NaN,221. La passion de Jeanne d'Arc (1928),8.0,12345678910 NOT YET RELEASED Seen,NaN
221,NaN,222. Ah-ga-ssi (2016),8.0,12345678910 NOT YET RELEASED Seen,NaN
222,NaN,223. Andrei Rublev (1966),8.0,12345678910 NOT YET RELEASED Seen,NaN
223,NaN,224. Les quatre cents coups (1959),8.0,12345678910 NOT YET RELEASED Seen,NaN
224,NaN,225. Hotel Rwanda (2004),8.0,12345678910 NOT YET RELEASED Seen,NaN
225,NaN,226. Spotlight (2015),8.0,12345678910 NOT YET RELEASED Seen,NaN
226,NaN,227. Amores perros (2000),8.0,12345678910 NOT YET RELEASED Seen,NaN
227,NaN,228. Rang De Basanti (2006),8.0,12345678910 NOT YET RELEASED Seen,NaN
228,NaN,229. Kaze no tani no Naushika (1984),8.0,12345678910 NOT YET RELEASED Seen,NaN
229,NaN,230. Rocky (1976),8.0,12345678910 NOT YET RELEASED Seen,NaN
230,NaN,231. La haine (1995),8.0,12345678910 NOT YET RELEASED Seen,NaN
231,NaN,232. Gangs of Wasseypur (2012),8.0,12345678910 NOT YET RELEASED Seen,NaN
232,NaN,"233. Monsters, Inc. (2001)",8.0,12345678910 NOT YET RELEASED Seen,NaN
233,NaN,234. Rebecca (1940),8.0,12345678910 NOT YET RELEASED Seen,NaN
234,NaN,235. Portrait de la jeune fille en feu (2019),8.0,12345678910 NOT YET RELEASED Seen,NaN
235,NaN,236. The Circus (1928),8.0,12345678910 NOT YET RELEASED Seen,NaN
236,NaN,237. Before Sunset (2004),8.0,12345678910 NOT YET RELEASED Seen,NaN
237,NaN,238. It Happened One Night (1934),8.0,12345678910 NOT YET RELEASED Seen,NaN
238,NaN,239. Fa yeung nin wah (2000),8.0,12345678910 NOT YET RELEASED Seen,NaN
239,NaN,"240. Paris, Texas (1984)",8.0,12345678910 NOT YET RELEASED Seen,NaN
240,NaN,241. Drishyam (2015),8.0,12345678910 NOT YET RELEASED Seen,NaN
241,NaN,242. Contratiempo (2016),8.0,12345678910 NOT YET RELEASED Seen,NaN
242,NaN,243. The Help (2011),8.0,12345678910 NOT YET RELEASED Seen,NaN
243,NaN,244. The Princess Bride (1987),8.0,12345678910 NOT YET RELEASED Seen,NaN
244,NaN,245. The Terminator (1984),8.0,12345678910 NOT YET RELEASED Seen,NaN
245,NaN,246. La battaglia di Algeri (1966),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Kumonosu-jô (1957),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,"248. Swades: We, the People (2004)",8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Shin seiki Evangelion Gekijô-ban: Air/Ma...,8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Munna Bhai M.B.B.S. (2003),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [27]:
imdb_movies = df_country_code[0]

In [29]:
type(imdb_movies)

pandas.core.frame.DataFrame

In [31]:
imdb_movies1=imdb_movies.iloc[:,1:3]

In [32]:
imdb_movies1

                                          Rank & Title  IMDb Rating
0                 1.  The Shawshank Redemption  (1994)          9.2
1                            2.  The Godfather  (1972)          9.1
2                   3.  The Godfather: Part II  (1974)          9.0
3                          4.  The Dark Knight  (2008)          9.0
4                             5.  12 Angry Men  (1957)          8.9
5                         6.  Schindler's List  (1993)          8.9
6    7.  The Lord of the Rings: The Return of the K...          8.9
7                             8.  Pulp Fiction  (1994)          8.8
8          9.  Il buono, il brutto, il cattivo  (1966)          8.8
9    10.  The Lord of the Rings: The Fellowship of ...          8.8
10                             11.  Fight Club  (1999)          8.8
11                           12.  Forrest Gump  (1994)          8.8
12                              13.  Inception  (2010)          8.7
13   14.  Star Wars: Episode V - The Empire Strikes...          8.7
14   15.  The Lord of the Rings: The Two Towers  (2...          8.7
15                             16.  The Matrix  (1999)          8.6
16                             17.  Goodfellas  (1990)          8.6
17        18.  One Flew Over the Cuckoo's Nest  (1975)          8.6
18                   19.  Shichinin no samurai  (1954)          8.6
19                                  20.  Se7en  (1995)          8.6
20                        21.  La vita è bella  (1997)          8.6
21                         22.  Cidade de Deus  (2002)          8.6
22               23.  The Silence of the Lambs  (1991)          8.6
23                  24.  It's a Wonderful Life  (1946)          8.6
24                              25.  Star Wars  (1977)          8.6
25                    26.  Saving Private Ryan  (1998)          8.5
26                               27.  Hamilton  (2020)          8.5
27          28.  Sen to Chihiro no kamikakushi  (2001)          8.5
28                         29.  The Green Mile  (1999)          8.5
29                           30.  Gisaengchung  (2019)          8.5
..                                                 ...          ...
220           221.  La passion de Jeanne d'Arc  (1928)          8.0
221                            222.  Ah-ga-ssi  (2016)          8.0
222                        223.  Andrei Rublev  (1966)          8.0
223               224.  Les quatre cents coups  (1959)          8.0
224                         225.  Hotel Rwanda  (2004)          8.0
225                            226.  Spotlight  (2015)          8.0
226                        227.  Amores perros  (2000)          8.0
227                      228.  Rang De Basanti  (2006)          8.0
228             229.  Kaze no tani no Naushika  (1984)          8.0
229                                230.  Rocky  (1976)          8.0
230                             231.  La haine  (1995)          8.0
231                   232.  Gangs of Wasseypur  (2012)          8.0
232                       233.  Monsters, Inc.  (2001)          8.0
233                              234.  Rebecca  (1940)          8.0
234    235.  Portrait de la jeune fille en feu  (2019)          8.0
235                           236.  The Circus  (1928)          8.0
236                        237.  Before Sunset  (2004)          8.0
237                238.  It Happened One Night  (1934)          8.0
238                     239.  Fa yeung nin wah  (2000)          8.0
239                         240.  Paris, Texas  (1984)          8.0
240                             241.  Drishyam  (2015)          8.0
241                         242.  Contratiempo  (2016)          8.0
242                             243.  The Help  (2011)          8.0
243                   244.  The Princess Bride  (1987)          8.0
244                       245.  The Terminator  (1984)          8.0
245               246.  La battaglia di Algeri  (1966)          8.0
246                          247.  Kumonosu-jô  (1957)          8.0
247               248.  Swades: We, the People  (2004)          8.0
248  249.  Shin seiki Evangelion Gekijô-ban: Air/Ma...          8.0
249                  250.  Munna Bhai M.B.B.S.  (2003)          8.0

[250 rows x 2 columns]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0